<% layout('layouts/template') %>
<% for (course of data) {%>
<div class="card my-4">
   <h5 class="card-header"><%=course.day%></h5>
   <div class="card-body">
      <div class="row">
         <% for (lecture of course.lectures) {%>
         <div class="col-sm-6">
            <div class="card my-2">
               <div class="card-body">
                  <h5 class="card-title"><span class="badge bg-secondary"><%=lecture.title%></span></h5>
                  <div class="d-flex align-items-center justify-content-between">
                     <h5 class="card-subtitle my-4"><%=lecture.instructor%></h5>
                     <img width="50" height="50" class="object-fit-cover border rounded" src="/assets/<%=lecture.instructor%>.jpeg">
                  </div>
                  <h6 class="card-subtitle my-2 text-muted"><%=lecture.time%></h6>
                  <a href="/admin/course/<%=course._id%>/<%=lecture._id%>" class="btn btn-primary">UPDATE</a>
               </div>
            </div>
         </div>
         <%}%>
      </div>
   </div>
</div>
<%}%>
