<% layout('layouts/template') %>
<h1><%=lecture.title%></h1>
<form action="/admin/course/<%=course._id%>/<%=lecture._id%>?_method=PUT" method="POST">
   <div class="card">
      <ul class="list-group list-group-flush">
         <li class="list-group-item">
            <div class="mb-3">
               <label for="title" class="form-label">Title</label>
               <input type="text" class="form-control" id="title" placeholder="Title" name="title" value="<%=lecture.title%>" required>
            </div>
         </li>
         <li class="list-group-item">
			<label for="instructor" class="form-label">Instructor</label>
            <select class="form-select" id="instructor" name="instructor" required aria-label="Default select example">
               <option selected><%=lecture.instructor%></option>
               <option value="DR.Omar">DR.Omar</option>
               <option value="DR.Ali">DR.Ali</option>
               <option value="DR.Alia">DR.Alia</option>
               <option value="DR.Bariq">DR.Bariq</option>
               <option value="DR.Ibrahim">DR.Ibrahim</option>
               <option value="DR.Jasem">DR.Jasem</option>
               <option value="DR.Noor">DR.Noor</option>
               <option value="DR.Rami">DR.Rami</option>
               <option value="DR.Salah">DR.Salah</option>
               <option value="DR.Tariq">DR.Tariq</option>
            </select>
         </li>
         <li class="list-group-item">
            <div class="mb-3">
               <label for="duration" class="form-label">Duration</label>
               <input type="text" class="form-control" id="duration" placeholder="Duration" name="duration" value="<%=lecture.duration%>" required>
            </div>
         </li>
         <li class="list-group-item">
            <div class="mb-3">
               <label for="time" class="form-label">Time</label>
               <input type="text" class="form-control" id="time" name="time" placeholder="Time" value="<%=lecture.time%>" required>
            </div>
         </li>
         <li class="list-group-item">
            <div class="mb-3">
               <label for="hall" class="form-label">Hall</label>
               <input type="text" class="form-control" id="hall" name="hall" placeholder="Hall" value="<%=lecture.hall%>" required>
            </div>
         </li>
      </ul>
      <button class="btn btn-primary my-3 mx-5">Update</button>
   </div>
</form>
<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%=lecture.title%></li>
   </ol>
</nav>